@model IEnumerable<SJAH20250326.AppWebMVC.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>MARCAS</h1>
<form asp-action="Index">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Marca</label>
                <input type="text" name="brandname" class="form-control" />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Pais</label>
                <textarea name="country" class="form-control"></textarea>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Marcas</label>
                <select name="BrandName" class="form-control" asp-items="ViewBag.BrandName"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">marcas</label>
                <select name="Country" class="form-control" asp-items="ViewBag.Country"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Cant. Registros</label>
                <select name="topRegistro" class="form-control">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="0">Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="Create">Ir a crear</a>
        </div>
    </div>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
